$big-font: 1.6rem;
$regular-font: $big-font * .75;
$padding: 12px;

$background: #D0D5D9;
$text: #590313;

$wormColour: rgba(189, 157, 148, 0.3);

html {
  background-color: white;
}

* {
  box-sizing: border-box;
}

.App {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: $regular-font;
  color: $text;
  width: 1280px;
  margin: 1rem auto;

  > .container {
    width: 100%;    
    padding: $padding 0;
  }

  > .title {
    font-size: $big-font;
  }

  > .readout, .controls {
    text-align: center;
  }

  .graph {
    border: 1px solid $background;
    padding: 0;

    path.worm {
      fill: $wormColour;
    }

    path.mean-line {
      stroke: $text;
      stroke-width: 4;
      stroke-linecap: round;
      fill: none;
    }

    circle.data-highlight {
      stroke: $text;
      fill: white;
      stroke-width: 4;
    }

    line.axis-tick {
      stroke-width: 2;
      stroke-dasharray: 4;
      stroke: rgba(0, 0, 0, 0.05);
    }

    text.bottom-axis-label {
      text-anchor: middle;
    }

    // Line classes

  }
}


